version: 2
updates:
  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      day: "monday"
      time: "10:00"
    groups:
      all:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      day: "monday"
      time: "10:00"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      day: "monday"
      time: "10:00"
