version: 2
updates:
  - package-ecosystem: "bundler"
    versioning-strategy: "increase"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "10:00"
    groups:
      all:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "10:00"
  - package-ecosystem: "npm"
    versioning-strategy: "increase"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "10:00"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "10:00"
