<div style="margin-bottom: 20px;">
  <a href="/monitors.new" class="button" style="background: #c2f3bb">+ Add Monitor</a>
</div>

<table>
  <thead>
  <tr>
    <th>Monitor</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <% @monitors.each do |monitor| %>
    <%= erb :_monitor_row, locals: { monitor: monitor } %>
  <% end %>
  </tbody>
</table>

<% if @paused_monitors.any? %>
  <br>
  <br>

  <table>
    <thead>
    <tr>
      <th>Paused Monitor</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <% @paused_monitors.each do |monitor| %>
      <%= erb :_monitor_row, locals: { monitor: monitor } %>
    <% end %>
    </tbody>
  </table>
<% end %>
