<!DOCTYPE html>
<html lang="en">
<head>
  <title>monAItor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
  <!--  <script defer src="https://dohliam.github.io/dropin-minimal-css/switcher.js" type="text/javascript"></script>-->

  <style>
    a.button {
      border-radius: 6px;
      padding: 10px 30px;
      color: var(--form-text);
      text-decoration-line: none;
    }
  </style>
</head>
<body>
  <h1><a href="/">mon<span style="color: red; font-family: Georgia, serif">AI</span>tor</a></h1>
  <%= yield %>
</body>
</html>
