<!DOCTYPE html>
<html lang="en">
<head>
  <title>monAItor</title>
<!--  <script defer src="https://dohliam.github.io/dropin-minimal-css/switcher.js" type="text/javascript"></script>-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
  <style>

  </style>
</head>
<body>
  <h1><a href="/">mon<span style="color: red; font-family: Georgia, serif">AI</span>tor</a></h1>
  <%= yield %>
</body>
</html>
