<form method="POST" action="/monitors">
  <div>
    <input type="url" id="url" name="url" placeholder="URL to monitor" required>
  </div>

  <div>
    <p style="line-height: 39px">
      Determine <input style="display: inline-block" type="text" id="determine" name="determine" value="whether " required>
    </p>
  </div>

  <div>
    <button type="submit">Create Monitor</button>
  </div>
</form>
