<form method="POST" action="/monitors">
  <div>
    <input type="url" id="url" name="url" placeholder="URL to monitor" required style="width: 100%; box-sizing: border-box" />
  </div>

  <div>
    <p style="line-height: 39px">
      Determine...
      <textarea style="display: inline-block; vertical-align: middle" id="determine" name="determine" required>whether </textarea>
    </p>
  </div>

  <div>
    <button type="submit">Create monitor</button>
  </div>
</form>
