name: Build + deploy

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    uses: scott113341/workflows/.github/workflows/build-deploy.yaml@main
    with:
      registry: personal-zot-registry.fly.dev
      repository: monaitor
    secrets:
      registry-user: ${{ secrets.REGISTRY_USER }}
      registry-password: ${{ secrets.REGISTRY_PASSWORD }}
